<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mentio</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon-Small.png</string>
				<string>Icon.png</string>
				<string>80</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-sqlite3</string>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mentio Databaseformat</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>me.mhaddl.mentio</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>me.mhaddl.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5777</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>ABeeZee-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.database</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mentio Databaseformat</string>
			<key>UTTypeIconFile</key>
			<array>
				<string>Icon-Small.png</string>
				<string>Icon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>me.mhaddl.mentio</string>
			<key>UTTypeReferenceURL</key>
			<string>http://mhaddl.me</string>
			<key>UTTypeSize320IconFile</key>
			<string>120</string>
			<key>UTTypeSize64IconFile</key>
			<string>80</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mentio</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-sqlite3</string>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>itunesURLExtension</key>
	<string>11lqGj</string>
</dict>
</plist>
